#button {
    display : none;
    width: 100px;
    height: 50px;
    border: solid 1px;
    background: darkorange;
    position: absolute;
    left: 150px;
    top: 175px;
    text-align: center;
    line-height: 50px;
    border-radius: 7px;
    text-transform: uppercase;
}

#myCanvas {
    border: solid 1px #808080;
    background: #808080;
    margin: 0;
    padding: 0;
}


